<template>
  <div>
    <div id="uppy-dashboard"/>
  </div>
</template>

<script>

import { Uppy, AwsS3, Dashboard } from '../../../js/plugins/uppy.js'
import CredentialService from '../../../js/api/CredentialService'

export default {
  name: 'uppy-loader',
  data() {
    return {
      uppy: null,
    }
  },

  mounted() {
    this.configureUppy()

  },

  methods: {
    upload() {
     return this.uppy.upload()
    },

    configureUppy() {
      this.uppy = new Uppy()
          .use(Dashboard, {
            inline: true,
            target: '#uppy-dashboard',
            replaceTargetContent: true,
            showProgressDetails: true,
            hideUploadButton: true,
            height: 400,
            metaFields: [
              {id: 'name', name: 'Name', placeholder: 'file name'},
              {id: 'caption', name: 'Caption', placeholder: 'describe what the image is about'},
            ],
          })
          .use(AwsS3, {
                getUploadParameters(file) {
                  return CredentialService.getPresignedUrl(file.name)
                      .then(res => {
                            return {
                              method: 'put',
                              url: res.data,
                              fields: {},
                              headers: {
                                'Content-type': file.type,
                              },
                            }
                          },
                      )
                },
              },
          )
    },
  },
}

</script>

<style lang="scss">
.uppy-Root {
  z-index: 0;
}
</style>
