<template>
  <div v-for="(order) in orders">
    {{ order.Key }}
  </div>
</template>

<script>
export default {
  name: 'order-list',
  props: {
    orders: [],
  },
}
</script>

<style lang="scss">


</style>