<template>
  <div>
    <v-form ref="orderForm">
      <v-text-field prepend-icon="person_pin"
                    :label="locales.nameLabel"
                    :placeholder="locales.namePlaceholder"
                    v-model="orderFormData.name"
                    :rules="nameRules"
                    clearable/>

      <dynamic-input ref="deliveryType"
                     main-icon="airport_shuttle"
                     child-icon="place"
                     :items="settings.regions"
                     :rules="regionRules"
                     v-model="orderFormData.region"
                     :label="locales.region"/>

      <v-text-field prepend-icon="navigation"
                    :label="locales.address"
                    clearable
                    :rules="addressRules"
                    v-model="orderFormData.address"/>

      <v-text-field class="photo-form__phone"
                    prepend-icon="phone"
                    :label="locales.phone"
                    prefix="+375"
                    clearable
                    type="tel"
                    v-mask="['(##) ### ## ##']"
                    v-model="orderFormData.phone"
                    :rules="phoneRules"/>

      <print-type-select :print-types="settings.printTypes"
                         v-model="orderFormData.printType"/>

      <v-select v-if="orderFormData.printType"
                prepend-icon="photo_size_select_large"
                :label="orderFormData.printType.formatLabel"
                :rules="printFormatRules"
                v-model="orderFormData.printFormat"
                :items="orderFormData.printType.formats"
                :item-text="(item)=>item.label + (item.price ? ` - ${item.price}р` : '')"
                return-object/>

      <v-textarea class="photo-form__wishes"
                  prepend-icon="textsms"
                  :label="locales.wishes"
                  rows="2"
                  clearable
                  v-model="orderFormData.wishes"/>
    </v-form>
  </div>
</template>

<script>
import fieldValidators from '../../../js/utils/validators/field-validation.utils'
import PrintTypeSelect from './form-items/print-type-select/print-type-select-button.component'
import DeviceRecognitionUtils from '../../../js/utils/device-recognition.utils'
import DynamicInput from './form-items/dynamic-input.component'
import OrderForm from './models/order-form.model'
import { formLocales, formSettings } from './form-settings'

export default {
  name: 'order-form',
  components: {
    PrintTypeSelect,
    DynamicInput,
  },

  data() {
    return {
      nameRules: [fieldValidators.getMinLengthValidator(3)],
      phoneRules: [fieldValidators.getPhoneValidator()],
      addressRules: [fieldValidators.getRequiredValidator()],
      regionRules: [fieldValidators.getRequiredValidator()],
      printFormatRules: [fieldValidators.getRequiredValidator()],

      locales: formLocales,
      settings: formSettings,
      orderFormData: new OrderForm(),

      orderForm: null,
    }
  },

  mounted() {
    this.initRefs()
  },

  computed: {
    isMobile() {
      return DeviceRecognitionUtils.isMobile()
    },
  },

  methods: {
    validate() {
      return this.orderForm.validate()
    },

    getHumanInfo() {
      return this.orderFormData.toHumanInfo()
    },

    initRefs() {
      this.orderForm = this.$refs.orderForm
    },
  },
}
</script>

<style lang="scss">
.photo-form {
  .v-select {
    white-space: nowrap;
  }

  &__wishes {
    textarea {
      resize: none;
    }
  }

  &__phone {
    input[type=number] {
      &::-webkit-inner-spin-button, &::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;
      }
    }
  }
}
</style>