<template>
  <div class="print-type-select">
    <v-btn class="choose-button"
           @click="printTypeDialog.open()"
           large
           color="blue-grey lighten-3">
      <v-row class="choose-button__content">
        <v-col>Тип печати:</v-col>
        <v-col>
          <span style="font-weight: 500">{{ printType ? printType.label : '' }}</span>
        </v-col>
        <v-col>
          <v-icon>edit</v-icon>
        </v-col>
      </v-row>
    </v-btn>

    <image-select :elements-to-select="elementsToSelect"
                  header='ТИП ПЕЧАТИ'
                  ref="printTypeDialog"
                  v-model="printType"/>
  </div>
</template>

<script>
import ImageSelect from './image-select/image-select.component'
import ImageSelectElement from './image-select/image-select-element.model'

export default {
  name: 'print-type-select',
  components: {
    ImageSelect,
  },
  props: {
    printTypes: {
      type: Array,
      required: true,
    },
  },

  data() {
    return {
      printType: null,
      printTypeDialog: null,
    }
  },

  watch: {
    printType(value) {
      if (!value) {
        return
      }
      this.$emit('input', value)
    },
  },

  mounted() {
    this.printTypeDialog = this.$refs.printTypeDialog
    this.printType = this.printTypes[0]
  },

  computed: {
    elementsToSelect() {
      return this.printTypes.map(
          printType => new ImageSelectElement(printType.thumbnail, printType.label, printType),
      )
    },
  },
}

</script>

<style lang="scss">

.choose-button {
  width: 100%;
  margin-top: 1.5vh;

  &__content > * {
    display: flex;
    padding: 0;
    align-items: center;
    justify-content: center;
    font-weight: 300;
  }
}
</style>
