<template>
  <v-bottom-sheet v-model="isOpen"
                  inset
                  hide-overlay>
    <div class="image-select">

      <v-row justify="center" class="image-select__header pa-2">
        {{ header }}
      </v-row>

      <v-row class="pa-3" justify="center">
        <v-col v-for="elementToSelect in elementsToSelect"
               :key="elementToSelect.label"
               cols="4" md="4"
               class="pa-1 pa-md-4 px-lg-8"
               @click="select(elementToSelect)">
          <v-card>
            <v-img
            :src="elementToSelect.imageUrl"
            class="image-select__element white--text align-end"
            :class="{ '_selected': lastSelectedElement === elementToSelect }"
            gradient="to bottom, rgba(0,0,0,0), rgba(0,0,0,.7)"
            :height="isMobile? '35vw':'30vh'"
            >
              <v-card-title class="px-1 py-0 px-lg-3 py-lg-1" :style="isMobile?'font-size: 1rem': 'font-size: 1.5rem'">
                {{ elementToSelect.label }}
              </v-card-title>
              <div v-if="elementToSelect.value.clarification" class="px-1 py-0 px-lg-3" :style="isMobile?'font-size: 0.5rem': 'font-size: 0.7rem'">
                {{ elementToSelect.value.clarification }}
              </div>
            </v-img>
          </v-card>
        </v-col>
      </v-row>
    </div>
  </v-bottom-sheet>
</template>

<script>
import { ModalManagerMixin } from './modal-manager.mixin';
import DeviceRecognitionUtils from "../../../../../../js/utils/device-recognition.utils";

export default {
  name: 'image-select',
  mixins: [
    ModalManagerMixin,
  ],
  props: {
    elementsToSelect: {
      type: Array,
      required: true,
    },
    header: {
      type: String,
      required: true,
    },
  },
  watch: {
    elementsToSelect(elements) {
      this.lastSelectedElement = elements && elements.length && elements[0];

      if (!this.lastSelectedElement) {
        return;
      }

      this.$emit('input', this.lastSelectedElement.value);
    },
  },
  data() {
    return {
      lastSelectedElement: null,
    };
  },
  methods: {
    select(selectedElement) {
      this.lastSelectedElement = selectedElement;
      this.$emit('input', this.lastSelectedElement.value);
      this.close();
    },
  },

  mounted() {
    this.lastSelectedElement = this.elementsToSelect[0];
  },

  computed: {
    isMobile() {
      return DeviceRecognitionUtils.isMobile();
    },
  }
};
</script>

<style lang="scss">
.image-select {
  background-color: white;
  text-transform: uppercase;
  font-weight: 300;
  border-radius: 5px 5px 0 0;

  &__header {
    font-size: 3.5vh;
  }

  &__element {

    &:hover {
      box-shadow: 0 0 2vw rgba(0, 0, 0, 0.5);
    }

    &._selected {
      box-shadow: 0 0 1.5vw rgba(0, 0, 0, 0.5);

      &:hover {
        box-shadow: 0 0 2vw rgba(0, 0, 0, 0.5);
      }
    }
  }
}
</style>
