<template>
  <v-app-bar app>
    <v-spacer></v-spacer>
    <img class="logo"
         :src="logoImage">

    <v-toolbar-title class="headline text-uppercase app-header">
      <span>печать</span>
      <span class="font-weight-light"> фото</span>
    </v-toolbar-title>
    <v-spacer></v-spacer>
  </v-app-bar>
</template>

<script>
import { ImageConstants } from '../../js/constants/image.constants';

export default {
  name: "app-header",
  data() {
    return {
      logoImage: ImageConstants.LOGO
    }
  },
}
</script>

<style lang="scss" scoped>
.app-header{
  margin-right: 8vw;
}
.logo {
    width: 73px;
    margin: 15px 3vw 0 0;
  }
.mobile{
  .logo{
    width: 64px;
    margin-left: 3vw;
  }
}
</style>