<template>
  <div>
    <v-container>
      <app-header/>
      <v-main>
        <v-row justify="center">
          <v-col md="7" sm="9" xm="12"
                 class="pa-0">

            <v-card
                :outlined="!isMobile"
                elevation="4"
                class="d-flex flex-column">

              <order-form ref="orderForm"
                          :class="{'mx-2': isMobile, 'mt-5 mx-10': !isMobile }"/>

              <!--TODO after upload replace to uodate submitOrder-->
              <v-btn
                  color="blue-grey lighten-1"
                  class="ma-2 white--text font-weight-light align-self-end"
                  @click="submitOrder"
              >
                отправить заказ
                <v-icon
                    right
                    dark
                >
                  mdi-cloud-upload
                </v-icon>
              </v-btn>

              <uppy-loader ref="fileHandler"
                           class="ma-2"
              />

            </v-card>
          </v-col>
        </v-row>
      </v-main>
    </v-container>
  </div>
</template>

<script>
import OrderForm from './form/order-form.component'
import UppyLoader from './file-handler/uppy-loader.component'
import AppHeader from './header.component'
import DeviceRecognitionUtils from '../../js/utils/device-recognition.utils'
import OrderService from '../../js/api/OrderService'

export default {
  name: 'order-handler',
  components: {
    OrderForm,
    AppHeader,
    UppyLoader,
  },

  data() {
    return {
      orderForm: null,
      fileHandler: null,
    }
  },

  mounted() {
    this.initRefs()
    this.initService()
  },

  computed: {
    isMobile() {
      return DeviceRecognitionUtils.isMobile()
    },
  },

  methods: {
    submitOrder() {
      this.orderService.submitOrder()
    },

    initRefs() {
      this.orderForm = this.$refs.orderForm
      this.fileHandler = this.$refs.fileHandler
    },

    initService(){
      this.orderService = new OrderService(this.orderForm, this.fileHandler, this)
    }
  },
}
</script>

<style lang="scss">

</style>