<template>
  <v-app>
    <router-view/>
  </v-app>
</template>

<script>
import CredentialService from './js/api/CredentialService'
import {uuidv4} from './js/utils/randon.utils'

export default {
  name: 'App',

  mounted() {
    CredentialService.serverUrl = 'http://localhost:8081' // !EXPERIMENTAL
    CredentialService.bucketFolder = uuidv4()             // !EXPERIMENTAL
  }
};
</script>
