<template>
  <div>
    <v-select :prepend-icon="mainIcon"
              :label="label"
              :rules="rules"
              :items="items"
              item-text="label"
              return-object
              v-model="currentSelected"/>

    <v-text-field :prepend-icon="childIcon"
                  v-if="currentSelected && currentSelected.additionals"
                  v-for="(field,  index) in currentSelected.additionals"
                  :label="field.label"
                  :rules="[field.required? requiredValidator:'']"
                  v-model="currentSelected.additionals[index].value"/>
  </div>
</template>

<script>
import fieldValidators from '../../../../js/utils/validators/field-validation.utils'

export default {
  name: 'dynamic-input',

  props: {
    items: null,
    rules: null,
    mainIcon: '',
    childIcon: '',
    label: '',
    value: '',
  },

  data() {
    return {
      requiredValidator: fieldValidators.getRequiredValidator(),
      currentSelected: '',
    }
  },

  watch: {
    currentSelected(val) {
      this.$emit('input', val)
    },
  },
}

</script>
