<template>
  <div>
    <v-row justify="center">
      <v-dialog
          v-model="showModal"
          persistent
          max-width="300px"
      >
        <v-card>
          <v-card-title>
            <span class="headline">Welcome, admin</span>
          </v-card-title>
          <v-card-text
              class="pb-0">
            <v-text-field
                label="Your Password"
                ref='passwordField'
                outlined
                :dense=true
                v-model="password"
                :append-icon="showPassword ? 'mdi-eye' : 'mdi-eye-off'"
                :type="showPassword ? 'text' : 'password'"
                :rules="[]"
                @click:append="showPassword = !showPassword"
            ></v-text-field>
          </v-card-text>
          <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn
                color="blue darken-1"
                text
                @click="logIn"
            >
              Enter
            </v-btn>
          </v-card-actions>
        </v-card>
      </v-dialog>
    </v-row>
    <div class="panel" v-show="showPanel">
      <h1>
        admin panel
      </h1>
      <order-list
      :orders="orders"
      />
    </div>
  </div>
</template>

<script>
import ControlService from '../../js/api/ControlService'
import OrderList from './order-list/order-list.component'

export default {
  name: 'control-panel',
  components: {OrderList},
  data: () => ({
        showModal: true,
        showPanel: false,
        showPassword: false,
        password: '',
        orders: [],
        controlService: new ControlService(),
      }
  ),

  async mounted() {

  },

  methods: {
    async logIn() {
      try {
        this.$refs.passwordField.loading = true
        await this.controlService.init(this.password)
        this.orders = await this.controlService.getAllorders()
        this.$refs.passwordField.loading = false
        this.showModal = false
        this.showPanel = true
      } catch (e) {
        this.$refs.passwordField.error = true
        this.$refs.passwordField.loading = false
        this.$refs.passwordField.errorMessages = 'try again'
      }
    },
  },
}
</script>

<style scoped>

</style>